<div class="row">
  <div class="col-xs-12">
    <ul class="plain">
      <li>{{fa-icon 'adjust' fixedWidth=true}} <span class="name">adjust</span></li>
      <li>{{fa-icon 'adn' fixedWidth=true}} <span class="name">adn</span></li>
      <li>{{fa-icon 'align-center' fixedWidth=true}} <span class="name">align-center</span></li>
      <li>{{fa-icon 'align-justify' fixedWidth=true}} <span class="name">align-justify</span></li>
      <li>{{fa-icon 'align-left' fixedWidth=true}} <span class="name">align-left</span></li>
      <li>{{fa-icon 'align-right' fixedWidth=true}} <span class="name">align-right</span></li>
      <li>{{fa-icon 'ambulance' fixedWidth=true}} <span class="name">ambulance</span></li>
      <li>{{fa-icon 'anchor' fixedWidth=true}} <span class="name">anchor</span></li>
      <li>{{fa-icon 'android' fixedWidth=true}} <span class="name">android</span></li>
      <li>{{fa-icon 'angellist' fixedWidth=true}} <span class="name">angellist</span></li>
      <li>{{fa-icon 'angle-double-down' fixedWidth=true}} <span class="name">angle-double-down</span></li>
      <li>{{fa-icon 'angle-double-left' fixedWidth=true}} <span class="name">angle-double-left</span></li>
      <li>{{fa-icon 'angle-double-right' fixedWidth=true}} <span class="name">angle-double-right</span></li>
      <li>{{fa-icon 'angle-double-up' fixedWidth=true}} <span class="name">angle-double-up</span></li>
      <li>{{fa-icon 'angle-down' fixedWidth=true}} <span class="name">angle-down</span></li>
      <li>{{fa-icon 'angle-left' fixedWidth=true}} <span class="name">angle-left</span></li>
      <li>{{fa-icon 'angle-right' fixedWidth=true}} <span class="name">angle-right</span></li>
      <li>{{fa-icon 'angle-up' fixedWidth=true}} <span class="name">angle-up</span></li>
      <li>{{fa-icon 'apple' fixedWidth=true}} <span class="name">apple</span></li>
      <li>{{fa-icon 'archive' fixedWidth=true}} <span class="name">archive</span></li>
      <li>{{fa-icon 'area-chart' fixedWidth=true}} <span class="name">area-chart</span></li>
      <li>{{fa-icon 'arrow-circle-down' fixedWidth=true}} <span class="name">arrow-circle-down</span></li>
      <li>{{fa-icon 'arrow-circle-left' fixedWidth=true}} <span class="name">arrow-circle-left</span></li>
      <li>{{fa-icon 'arrow-circle-o-down' fixedWidth=true}} <span class="name">arrow-circle-o-down</span></li>
      <li>{{fa-icon 'arrow-circle-o-left' fixedWidth=true}} <span class="name">arrow-circle-o-left</span></li>
      <li>{{fa-icon 'arrow-circle-o-right' fixedWidth=true}} <span class="name">arrow-circle-o-right</span></li>
      <li>{{fa-icon 'arrow-circle-o-up' fixedWidth=true}} <span class="name">arrow-circle-o-up</span></li>
      <li>{{fa-icon 'arrow-circle-right' fixedWidth=true}} <span class="name">arrow-circle-right</span></li>
      <li>{{fa-icon 'arrow-circle-up' fixedWidth=true}} <span class="name">arrow-circle-up</span></li>
      <li>{{fa-icon 'arrow-down' fixedWidth=true}} <span class="name">arrow-down</span></li>
      <li>{{fa-icon 'arrow-left' fixedWidth=true}} <span class="name">arrow-left</span></li>
      <li>{{fa-icon 'arrow-right' fixedWidth=true}} <span class="name">arrow-right</span></li>
      <li>{{fa-icon 'arrow-up' fixedWidth=true}} <span class="name">arrow-up</span></li>
      <li>{{fa-icon 'arrows' fixedWidth=true}} <span class="name">arrows</span></li>
      <li>{{fa-icon 'arrows-alt' fixedWidth=true}} <span class="name">arrows-alt</span></li>
      <li>{{fa-icon 'arrows-h' fixedWidth=true}} <span class="name">arrows-h</span></li>
      <li>{{fa-icon 'arrows-v' fixedWidth=true}} <span class="name">arrows-v</span></li>
      <li>{{fa-icon 'asterisk' fixedWidth=true}} <span class="name">asterisk</span></li>
      <li>{{fa-icon 'at' fixedWidth=true}} <span class="name">at</span></li>
      <li>{{fa-icon 'automobile' fixedWidth=true}} <span class="name">automobile</span></li>
      <li>{{fa-icon 'backward' fixedWidth=true}} <span class="name">backward</span></li>
      <li>{{fa-icon 'ban' fixedWidth=true}} <span class="name">ban</span></li>
      <li>{{fa-icon 'bank' fixedWidth=true}} <span class="name">bank</span></li>
      <li>{{fa-icon 'bar-chart' fixedWidth=true}} <span class="name">bar-chart</span></li>
      <li>{{fa-icon 'bar-chart-o' fixedWidth=true}} <span class="name">bar-chart-o</span></li>
      <li>{{fa-icon 'barcode' fixedWidth=true}} <span class="name">barcode</span></li>
      <li>{{fa-icon 'bars' fixedWidth=true}} <span class="name">bars</span></li>
      <li>{{fa-icon 'bed' fixedWidth=true}} <span class="name">bed</span></li>
      <li>{{fa-icon 'beer' fixedWidth=true}} <span class="name">beer</span></li>
      <li>{{fa-icon 'behance' fixedWidth=true}} <span class="name">behance</span></li>
      <li>{{fa-icon 'behance-square' fixedWidth=true}} <span class="name">behance-square</span></li>
      <li>{{fa-icon 'bell' fixedWidth=true}} <span class="name">bell</span></li>
      <li>{{fa-icon 'bell-o' fixedWidth=true}} <span class="name">bell-o</span></li>
      <li>{{fa-icon 'bell-slash' fixedWidth=true}} <span class="name">bell-slash</span></li>
      <li>{{fa-icon 'bell-slash-o' fixedWidth=true}} <span class="name">bell-slash-o</span></li>
      <li>{{fa-icon 'bicycle' fixedWidth=true}} <span class="name">bicycle</span></li>
      <li>{{fa-icon 'binoculars' fixedWidth=true}} <span class="name">binoculars</span></li>
      <li>{{fa-icon 'birthday-cake' fixedWidth=true}} <span class="name">birthday-cake</span></li>
      <li>{{fa-icon 'bitbucket' fixedWidth=true}} <span class="name">bitbucket</span></li>
      <li>{{fa-icon 'bitbucket-square' fixedWidth=true}} <span class="name">bitbucket-square</span></li>
      <li>{{fa-icon 'bitcoin' fixedWidth=true}} <span class="name">bitcoin</span></li>
      <li>{{fa-icon 'bold' fixedWidth=true}} <span class="name">bold</span></li>
      <li>{{fa-icon 'bolt' fixedWidth=true}} <span class="name">bolt</span></li>
      <li>{{fa-icon 'bomb' fixedWidth=true}} <span class="name">bomb</span></li>
      <li>{{fa-icon 'book' fixedWidth=true}} <span class="name">book</span></li>
      <li>{{fa-icon 'bookmark' fixedWidth=true}} <span class="name">bookmark</span></li>
      <li>{{fa-icon 'bookmark-o' fixedWidth=true}} <span class="name">bookmark-o</span></li>
      <li>{{fa-icon 'briefcase' fixedWidth=true}} <span class="name">briefcase</span></li>
      <li>{{fa-icon 'btc' fixedWidth=true}} <span class="name">btc</span></li>
      <li>{{fa-icon 'bug' fixedWidth=true}} <span class="name">bug</span></li>
      <li>{{fa-icon 'building' fixedWidth=true}} <span class="name">building</span></li>
      <li>{{fa-icon 'building-o' fixedWidth=true}} <span class="name">building-o</span></li>
      <li>{{fa-icon 'bullhorn' fixedWidth=true}} <span class="name">bullhorn</span></li>
      <li>{{fa-icon 'bullseye' fixedWidth=true}} <span class="name">bullseye</span></li>
      <li>{{fa-icon 'bus' fixedWidth=true}} <span class="name">bus</span></li>
      <li>{{fa-icon 'buysellads' fixedWidth=true}} <span class="name">buysellads</span></li>
      <li>{{fa-icon 'cab' fixedWidth=true}} <span class="name">cab</span></li>
      <li>{{fa-icon 'calculator' fixedWidth=true}} <span class="name">calculator</span></li>
      <li>{{fa-icon 'calendar' fixedWidth=true}} <span class="name">calendar</span></li>
      <li>{{fa-icon 'calendar-o' fixedWidth=true}} <span class="name">calendar-o</span></li>
      <li>{{fa-icon 'camera' fixedWidth=true}} <span class="name">camera</span></li>
      <li>{{fa-icon 'camera-retro' fixedWidth=true}} <span class="name">camera-retro</span></li>
      <li>{{fa-icon 'car' fixedWidth=true}} <span class="name">car</span></li>
      <li>{{fa-icon 'caret-down' fixedWidth=true}} <span class="name">caret-down</span></li>
      <li>{{fa-icon 'caret-left' fixedWidth=true}} <span class="name">caret-left</span></li>
      <li>{{fa-icon 'caret-right' fixedWidth=true}} <span class="name">caret-right</span></li>
      <li>{{fa-icon 'caret-square-o-down' fixedWidth=true}} <span class="name">caret-square-o-down</span></li>
      <li>{{fa-icon 'caret-square-o-left' fixedWidth=true}} <span class="name">caret-square-o-left</span></li>
      <li>{{fa-icon 'caret-square-o-right' fixedWidth=true}} <span class="name">caret-square-o-right</span></li>
      <li>{{fa-icon 'caret-square-o-up' fixedWidth=true}} <span class="name">caret-square-o-up</span></li>
      <li>{{fa-icon 'caret-up' fixedWidth=true}} <span class="name">caret-up</span></li>
      <li>{{fa-icon 'cart-arrow-down' fixedWidth=true}} <span class="name">cart-arrow-down</span></li>
      <li>{{fa-icon 'cart-plus' fixedWidth=true}} <span class="name">cart-plus</span></li>
      <li>{{fa-icon 'cc' fixedWidth=true}} <span class="name">cc</span></li>
      <li>{{fa-icon 'cc-amex' fixedWidth=true}} <span class="name">cc-amex</span></li>
      <li>{{fa-icon 'cc-discover' fixedWidth=true}} <span class="name">cc-discover</span></li>
      <li>{{fa-icon 'cc-mastercard' fixedWidth=true}} <span class="name">cc-mastercard</span></li>
      <li>{{fa-icon 'cc-paypal' fixedWidth=true}} <span class="name">cc-paypal</span></li>
      <li>{{fa-icon 'cc-stripe' fixedWidth=true}} <span class="name">cc-stripe</span></li>
      <li>{{fa-icon 'cc-visa' fixedWidth=true}} <span class="name">cc-visa</span></li>
      <li>{{fa-icon 'certificate' fixedWidth=true}} <span class="name">certificate</span></li>
      <li>{{fa-icon 'chain' fixedWidth=true}} <span class="name">chain</span></li>
      <li>{{fa-icon 'chain-broken' fixedWidth=true}} <span class="name">chain-broken</span></li>
      <li>{{fa-icon 'check' fixedWidth=true}} <span class="name">check</span></li>
      <li>{{fa-icon 'check-circle' fixedWidth=true}} <span class="name">check-circle</span></li>
      <li>{{fa-icon 'check-circle-o' fixedWidth=true}} <span class="name">check-circle-o</span></li>
      <li>{{fa-icon 'check-square' fixedWidth=true}} <span class="name">check-square</span></li>
      <li>{{fa-icon 'check-square-o' fixedWidth=true}} <span class="name">check-square-o</span></li>
      <li>{{fa-icon 'chevron-circle-down' fixedWidth=true}} <span class="name">chevron-circle-down</span></li>
      <li>{{fa-icon 'chevron-circle-left' fixedWidth=true}} <span class="name">chevron-circle-left</span></li>
      <li>{{fa-icon 'chevron-circle-right' fixedWidth=true}} <span class="name">chevron-circle-right</span></li>
      <li>{{fa-icon 'chevron-circle-up' fixedWidth=true}} <span class="name">chevron-circle-up</span></li>
      <li>{{fa-icon 'chevron-down' fixedWidth=true}} <span class="name">chevron-down</span></li>
      <li>{{fa-icon 'chevron-left' fixedWidth=true}} <span class="name">chevron-left</span></li>
      <li>{{fa-icon 'chevron-right' fixedWidth=true}} <span class="name">chevron-right</span></li>
      <li>{{fa-icon 'chevron-up' fixedWidth=true}} <span class="name">chevron-up</span></li>
      <li>{{fa-icon 'child' fixedWidth=true}} <span class="name">child</span></li>
      <li>{{fa-icon 'circle' fixedWidth=true}} <span class="name">circle</span></li>
      <li>{{fa-icon 'circle-o' fixedWidth=true}} <span class="name">circle-o</span></li>
      <li>{{fa-icon 'circle-o-notch' fixedWidth=true}} <span class="name">circle-o-notch</span></li>
      <li>{{fa-icon 'circle-thin' fixedWidth=true}} <span class="name">circle-thin</span></li>
      <li>{{fa-icon 'clipboard' fixedWidth=true}} <span class="name">clipboard</span></li>
      <li>{{fa-icon 'clock-o' fixedWidth=true}} <span class="name">clock-o</span></li>
      <li>{{fa-icon 'close' fixedWidth=true}} <span class="name">close</span></li>
      <li>{{fa-icon 'cloud' fixedWidth=true}} <span class="name">cloud</span></li>
      <li>{{fa-icon 'cloud-download' fixedWidth=true}} <span class="name">cloud-download</span></li>
      <li>{{fa-icon 'cloud-upload' fixedWidth=true}} <span class="name">cloud-upload</span></li>
      <li>{{fa-icon 'cny' fixedWidth=true}} <span class="name">cny</span></li>
      <li>{{fa-icon 'code' fixedWidth=true}} <span class="name">code</span></li>
      <li>{{fa-icon 'code-fork' fixedWidth=true}} <span class="name">code-fork</span></li>
      <li>{{fa-icon 'codepen' fixedWidth=true}} <span class="name">codepen</span></li>
      <li>{{fa-icon 'coffee' fixedWidth=true}} <span class="name">coffee</span></li>
      <li>{{fa-icon 'cog' fixedWidth=true}} <span class="name">cog</span></li>
      <li>{{fa-icon 'cogs' fixedWidth=true}} <span class="name">cogs</span></li>
      <li>{{fa-icon 'columns' fixedWidth=true}} <span class="name">columns</span></li>
      <li>{{fa-icon 'comment' fixedWidth=true}} <span class="name">comment</span></li>
      <li>{{fa-icon 'comment-o' fixedWidth=true}} <span class="name">comment-o</span></li>
      <li>{{fa-icon 'comments' fixedWidth=true}} <span class="name">comments</span></li>
      <li>{{fa-icon 'comments-o' fixedWidth=true}} <span class="name">comments-o</span></li>
      <li>{{fa-icon 'compass' fixedWidth=true}} <span class="name">compass</span></li>
      <li>{{fa-icon 'compress' fixedWidth=true}} <span class="name">compress</span></li>
      <li>{{fa-icon 'connectdevelop' fixedWidth=true}} <span class="name">connectdevelop</span></li>
      <li>{{fa-icon 'copy' fixedWidth=true}} <span class="name">copy</span></li>
      <li>{{fa-icon 'copyright' fixedWidth=true}} <span class="name">copyright</span></li>
      <li>{{fa-icon 'credit-card' fixedWidth=true}} <span class="name">credit-card</span></li>
      <li>{{fa-icon 'crop' fixedWidth=true}} <span class="name">crop</span></li>
      <li>{{fa-icon 'crosshairs' fixedWidth=true}} <span class="name">crosshairs</span></li>
      <li>{{fa-icon 'css3' fixedWidth=true}} <span class="name">css3</span></li>
      <li>{{fa-icon 'cube' fixedWidth=true}} <span class="name">cube</span></li>
      <li>{{fa-icon 'cubes' fixedWidth=true}} <span class="name">cubes</span></li>
      <li>{{fa-icon 'cut' fixedWidth=true}} <span class="name">cut</span></li>
      <li>{{fa-icon 'cutlery' fixedWidth=true}} <span class="name">cutlery</span></li>
      <li>{{fa-icon 'dashboard' fixedWidth=true}} <span class="name">dashboard</span></li>
      <li>{{fa-icon 'dashcube' fixedWidth=true}} <span class="name">dashcube</span></li>
      <li>{{fa-icon 'database' fixedWidth=true}} <span class="name">database</span></li>
      <li>{{fa-icon 'dedent' fixedWidth=true}} <span class="name">dedent</span></li>
      <li>{{fa-icon 'delicious' fixedWidth=true}} <span class="name">delicious</span></li>
      <li>{{fa-icon 'desktop' fixedWidth=true}} <span class="name">desktop</span></li>
      <li>{{fa-icon 'deviantart' fixedWidth=true}} <span class="name">deviantart</span></li>
      <li>{{fa-icon 'diamond' fixedWidth=true}} <span class="name">diamond</span></li>
      <li>{{fa-icon 'digg' fixedWidth=true}} <span class="name">digg</span></li>
      <li>{{fa-icon 'dollar' fixedWidth=true}} <span class="name">dollar</span></li>
      <li>{{fa-icon 'dot-circle-o' fixedWidth=true}} <span class="name">dot-circle-o</span></li>
      <li>{{fa-icon 'download' fixedWidth=true}} <span class="name">download</span></li>
      <li>{{fa-icon 'dribbble' fixedWidth=true}} <span class="name">dribbble</span></li>
      <li>{{fa-icon 'dropbox' fixedWidth=true}} <span class="name">dropbox</span></li>
      <li>{{fa-icon 'drupal' fixedWidth=true}} <span class="name">drupal</span></li>
      <li>{{fa-icon 'edit' fixedWidth=true}} <span class="name">edit</span></li>
      <li>{{fa-icon 'eject' fixedWidth=true}} <span class="name">eject</span></li>
      <li>{{fa-icon 'ellipsis-h' fixedWidth=true}} <span class="name">ellipsis-h</span></li>
      <li>{{fa-icon 'ellipsis-v' fixedWidth=true}} <span class="name">ellipsis-v</span></li>
      <li>{{fa-icon 'empire' fixedWidth=true}} <span class="name">empire</span></li>
      <li>{{fa-icon 'envelope' fixedWidth=true}} <span class="name">envelope</span></li>
      <li>{{fa-icon 'envelope-o' fixedWidth=true}} <span class="name">envelope-o</span></li>
      <li>{{fa-icon 'envelope-square' fixedWidth=true}} <span class="name">envelope-square</span></li>
      <li>{{fa-icon 'eraser' fixedWidth=true}} <span class="name">eraser</span></li>
      <li>{{fa-icon 'eur' fixedWidth=true}} <span class="name">eur</span></li>
      <li>{{fa-icon 'euro' fixedWidth=true}} <span class="name">euro</span></li>
      <li>{{fa-icon 'exchange' fixedWidth=true}} <span class="name">exchange</span></li>
      <li>{{fa-icon 'exclamation' fixedWidth=true}} <span class="name">exclamation</span></li>
      <li>{{fa-icon 'exclamation-circle' fixedWidth=true}} <span class="name">exclamation-circle</span></li>
      <li>{{fa-icon 'exclamation-triangle' fixedWidth=true}} <span class="name">exclamation-triangle</span></li>
      <li>{{fa-icon 'expand' fixedWidth=true}} <span class="name">expand</span></li>
      <li>{{fa-icon 'external-link' fixedWidth=true}} <span class="name">external-link</span></li>
      <li>{{fa-icon 'external-link-square' fixedWidth=true}} <span class="name">external-link-square</span></li>
      <li>{{fa-icon 'eye' fixedWidth=true}} <span class="name">eye</span></li>
      <li>{{fa-icon 'eye-slash' fixedWidth=true}} <span class="name">eye-slash</span></li>
      <li>{{fa-icon 'eyedropper' fixedWidth=true}} <span class="name">eyedropper</span></li>
      <li>{{fa-icon 'facebook' fixedWidth=true}} <span class="name">facebook</span></li>
      <li>{{fa-icon 'facebook-f' fixedWidth=true}} <span class="name">facebook-f</span></li>
      <li>{{fa-icon 'facebook-official' fixedWidth=true}} <span class="name">facebook-official</span></li>
      <li>{{fa-icon 'facebook-square' fixedWidth=true}} <span class="name">facebook-square</span></li>
      <li>{{fa-icon 'fast-backward' fixedWidth=true}} <span class="name">fast-backward</span></li>
      <li>{{fa-icon 'fast-forward' fixedWidth=true}} <span class="name">fast-forward</span></li>
      <li>{{fa-icon 'fax' fixedWidth=true}} <span class="name">fax</span></li>
      <li>{{fa-icon 'female' fixedWidth=true}} <span class="name">female</span></li>
      <li>{{fa-icon 'fighter-jet' fixedWidth=true}} <span class="name">fighter-jet</span></li>
      <li>{{fa-icon 'file' fixedWidth=true}} <span class="name">file</span></li>
      <li>{{fa-icon 'file-archive-o' fixedWidth=true}} <span class="name">file-archive-o</span></li>
      <li>{{fa-icon 'file-audio-o' fixedWidth=true}} <span class="name">file-audio-o</span></li>
      <li>{{fa-icon 'file-code-o' fixedWidth=true}} <span class="name">file-code-o</span></li>
      <li>{{fa-icon 'file-excel-o' fixedWidth=true}} <span class="name">file-excel-o</span></li>
      <li>{{fa-icon 'file-image-o' fixedWidth=true}} <span class="name">file-image-o</span></li>
      <li>{{fa-icon 'file-movie-o' fixedWidth=true}} <span class="name">file-movie-o</span></li>
      <li>{{fa-icon 'file-o' fixedWidth=true}} <span class="name">file-o</span></li>
      <li>{{fa-icon 'file-pdf-o' fixedWidth=true}} <span class="name">file-pdf-o</span></li>
      <li>{{fa-icon 'file-photo-o' fixedWidth=true}} <span class="name">file-photo-o</span></li>
      <li>{{fa-icon 'file-picture-o' fixedWidth=true}} <span class="name">file-picture-o</span></li>
      <li>{{fa-icon 'file-powerpoint-o' fixedWidth=true}} <span class="name">file-powerpoint-o</span></li>
      <li>{{fa-icon 'file-sound-o' fixedWidth=true}} <span class="name">file-sound-o</span></li>
      <li>{{fa-icon 'file-text' fixedWidth=true}} <span class="name">file-text</span></li>
      <li>{{fa-icon 'file-text-o' fixedWidth=true}} <span class="name">file-text-o</span></li>
      <li>{{fa-icon 'file-video-o' fixedWidth=true}} <span class="name">file-video-o</span></li>
      <li>{{fa-icon 'file-word-o' fixedWidth=true}} <span class="name">file-word-o</span></li>
      <li>{{fa-icon 'file-zip-o' fixedWidth=true}} <span class="name">file-zip-o</span></li>
      <li>{{fa-icon 'files-o' fixedWidth=true}} <span class="name">files-o</span></li>
      <li>{{fa-icon 'film' fixedWidth=true}} <span class="name">film</span></li>
      <li>{{fa-icon 'filter' fixedWidth=true}} <span class="name">filter</span></li>
      <li>{{fa-icon 'fire' fixedWidth=true}} <span class="name">fire</span></li>
      <li>{{fa-icon 'fire-extinguisher' fixedWidth=true}} <span class="name">fire-extinguisher</span></li>
      <li>{{fa-icon 'flag' fixedWidth=true}} <span class="name">flag</span></li>
      <li>{{fa-icon 'flag-checkered' fixedWidth=true}} <span class="name">flag-checkered</span></li>
      <li>{{fa-icon 'flag-o' fixedWidth=true}} <span class="name">flag-o</span></li>
      <li>{{fa-icon 'flash' fixedWidth=true}} <span class="name">flash</span></li>
      <li>{{fa-icon 'flask' fixedWidth=true}} <span class="name">flask</span></li>
      <li>{{fa-icon 'flickr' fixedWidth=true}} <span class="name">flickr</span></li>
      <li>{{fa-icon 'floppy-o' fixedWidth=true}} <span class="name">floppy-o</span></li>
      <li>{{fa-icon 'folder' fixedWidth=true}} <span class="name">folder</span></li>
      <li>{{fa-icon 'folder-o' fixedWidth=true}} <span class="name">folder-o</span></li>
      <li>{{fa-icon 'folder-open' fixedWidth=true}} <span class="name">folder-open</span></li>
      <li>{{fa-icon 'folder-open-o' fixedWidth=true}} <span class="name">folder-open-o</span></li>
      <li>{{fa-icon 'font' fixedWidth=true}} <span class="name">font</span></li>
      <li>{{fa-icon 'forumbee' fixedWidth=true}} <span class="name">forumbee</span></li>
      <li>{{fa-icon 'forward' fixedWidth=true}} <span class="name">forward</span></li>
      <li>{{fa-icon 'foursquare' fixedWidth=true}} <span class="name">foursquare</span></li>
      <li>{{fa-icon 'frown-o' fixedWidth=true}} <span class="name">frown-o</span></li>
      <li>{{fa-icon 'futbol-o' fixedWidth=true}} <span class="name">futbol-o</span></li>
      <li>{{fa-icon 'gamepad' fixedWidth=true}} <span class="name">gamepad</span></li>
      <li>{{fa-icon 'gavel' fixedWidth=true}} <span class="name">gavel</span></li>
      <li>{{fa-icon 'gbp' fixedWidth=true}} <span class="name">gbp</span></li>
      <li>{{fa-icon 'ge' fixedWidth=true}} <span class="name">ge</span></li>
      <li>{{fa-icon 'gear' fixedWidth=true}} <span class="name">gear</span></li>
      <li>{{fa-icon 'gears' fixedWidth=true}} <span class="name">gears</span></li>
      <li>{{fa-icon 'genderless' fixedWidth=true}} <span class="name">genderless</span></li>
      <li>{{fa-icon 'gift' fixedWidth=true}} <span class="name">gift</span></li>
      <li>{{fa-icon 'git' fixedWidth=true}} <span class="name">git</span></li>
      <li>{{fa-icon 'git-square' fixedWidth=true}} <span class="name">git-square</span></li>
      <li>{{fa-icon 'github' fixedWidth=true}} <span class="name">github</span></li>
      <li>{{fa-icon 'github-alt' fixedWidth=true}} <span class="name">github-alt</span></li>
      <li>{{fa-icon 'github-square' fixedWidth=true}} <span class="name">github-square</span></li>
      <li>{{fa-icon 'gittip' fixedWidth=true}} <span class="name">gittip</span></li>
      <li>{{fa-icon 'glass' fixedWidth=true}} <span class="name">glass</span></li>
      <li>{{fa-icon 'globe' fixedWidth=true}} <span class="name">globe</span></li>
      <li>{{fa-icon 'google' fixedWidth=true}} <span class="name">google</span></li>
      <li>{{fa-icon 'google-plus' fixedWidth=true}} <span class="name">google-plus</span></li>
      <li>{{fa-icon 'google-plus-square' fixedWidth=true}} <span class="name">google-plus-square</span></li>
      <li>{{fa-icon 'google-wallet' fixedWidth=true}} <span class="name">google-wallet</span></li>
      <li>{{fa-icon 'graduation-cap' fixedWidth=true}} <span class="name">graduation-cap</span></li>
      <li>{{fa-icon 'gratipay' fixedWidth=true}} <span class="name">gratipay</span></li>
      <li>{{fa-icon 'group' fixedWidth=true}} <span class="name">group</span></li>
      <li>{{fa-icon 'h-square' fixedWidth=true}} <span class="name">h-square</span></li>
      <li>{{fa-icon 'hacker-news' fixedWidth=true}} <span class="name">hacker-news</span></li>
      <li>{{fa-icon 'hand-o-down' fixedWidth=true}} <span class="name">hand-o-down</span></li>
      <li>{{fa-icon 'hand-o-left' fixedWidth=true}} <span class="name">hand-o-left</span></li>
      <li>{{fa-icon 'hand-o-right' fixedWidth=true}} <span class="name">hand-o-right</span></li>
      <li>{{fa-icon 'hand-o-up' fixedWidth=true}} <span class="name">hand-o-up</span></li>
      <li>{{fa-icon 'hdd-o' fixedWidth=true}} <span class="name">hdd-o</span></li>
      <li>{{fa-icon 'header' fixedWidth=true}} <span class="name">header</span></li>
      <li>{{fa-icon 'headphones' fixedWidth=true}} <span class="name">headphones</span></li>
      <li>{{fa-icon 'heart' fixedWidth=true}} <span class="name">heart</span></li>
      <li>{{fa-icon 'heart-o' fixedWidth=true}} <span class="name">heart-o</span></li>
      <li>{{fa-icon 'heartbeat' fixedWidth=true}} <span class="name">heartbeat</span></li>
      <li>{{fa-icon 'history' fixedWidth=true}} <span class="name">history</span></li>
      <li>{{fa-icon 'home' fixedWidth=true}} <span class="name">home</span></li>
      <li>{{fa-icon 'hospital-o' fixedWidth=true}} <span class="name">hospital-o</span></li>
      <li>{{fa-icon 'hotel' fixedWidth=true}} <span class="name">hotel</span></li>
      <li>{{fa-icon 'html5' fixedWidth=true}} <span class="name">html5</span></li>
      <li>{{fa-icon 'ils' fixedWidth=true}} <span class="name">ils</span></li>
      <li>{{fa-icon 'image' fixedWidth=true}} <span class="name">image</span></li>
      <li>{{fa-icon 'inbox' fixedWidth=true}} <span class="name">inbox</span></li>
      <li>{{fa-icon 'indent' fixedWidth=true}} <span class="name">indent</span></li>
      <li>{{fa-icon 'info' fixedWidth=true}} <span class="name">info</span></li>
      <li>{{fa-icon 'info-circle' fixedWidth=true}} <span class="name">info-circle</span></li>
      <li>{{fa-icon 'inr' fixedWidth=true}} <span class="name">inr</span></li>
      <li>{{fa-icon 'instagram' fixedWidth=true}} <span class="name">instagram</span></li>
      <li>{{fa-icon 'institution' fixedWidth=true}} <span class="name">institution</span></li>
      <li>{{fa-icon 'ioxhost' fixedWidth=true}} <span class="name">ioxhost</span></li>
      <li>{{fa-icon 'italic' fixedWidth=true}} <span class="name">italic</span></li>
      <li>{{fa-icon 'joomla' fixedWidth=true}} <span class="name">joomla</span></li>
      <li>{{fa-icon 'jpy' fixedWidth=true}} <span class="name">jpy</span></li>
      <li>{{fa-icon 'jsfiddle' fixedWidth=true}} <span class="name">jsfiddle</span></li>
      <li>{{fa-icon 'key' fixedWidth=true}} <span class="name">key</span></li>
      <li>{{fa-icon 'keyboard-o' fixedWidth=true}} <span class="name">keyboard-o</span></li>
      <li>{{fa-icon 'krw' fixedWidth=true}} <span class="name">krw</span></li>
      <li>{{fa-icon 'language' fixedWidth=true}} <span class="name">language</span></li>
      <li>{{fa-icon 'laptop' fixedWidth=true}} <span class="name">laptop</span></li>
      <li>{{fa-icon 'lastfm' fixedWidth=true}} <span class="name">lastfm</span></li>
      <li>{{fa-icon 'lastfm-square' fixedWidth=true}} <span class="name">lastfm-square</span></li>
      <li>{{fa-icon 'leaf' fixedWidth=true}} <span class="name">leaf</span></li>
      <li>{{fa-icon 'leanpub' fixedWidth=true}} <span class="name">leanpub</span></li>
      <li>{{fa-icon 'legal' fixedWidth=true}} <span class="name">legal</span></li>
      <li>{{fa-icon 'lemon-o' fixedWidth=true}} <span class="name">lemon-o</span></li>
      <li>{{fa-icon 'level-down' fixedWidth=true}} <span class="name">level-down</span></li>
      <li>{{fa-icon 'level-up' fixedWidth=true}} <span class="name">level-up</span></li>
      <li>{{fa-icon 'life-bouy' fixedWidth=true}} <span class="name">life-bouy</span></li>
      <li>{{fa-icon 'life-buoy' fixedWidth=true}} <span class="name">life-buoy</span></li>
      <li>{{fa-icon 'life-ring' fixedWidth=true}} <span class="name">life-ring</span></li>
      <li>{{fa-icon 'life-saver' fixedWidth=true}} <span class="name">life-saver</span></li>
      <li>{{fa-icon 'lightbulb-o' fixedWidth=true}} <span class="name">lightbulb-o</span></li>
      <li>{{fa-icon 'line-chart' fixedWidth=true}} <span class="name">line-chart</span></li>
      <li>{{fa-icon 'link' fixedWidth=true}} <span class="name">link</span></li>
      <li>{{fa-icon 'linkedin' fixedWidth=true}} <span class="name">linkedin</span></li>
      <li>{{fa-icon 'linkedin-square' fixedWidth=true}} <span class="name">linkedin-square</span></li>
      <li>{{fa-icon 'linux' fixedWidth=true}} <span class="name">linux</span></li>
      <li>{{fa-icon 'list' fixedWidth=true}} <span class="name">list</span></li>
      <li>{{fa-icon 'list-alt' fixedWidth=true}} <span class="name">list-alt</span></li>
      <li>{{fa-icon 'list-ol' fixedWidth=true}} <span class="name">list-ol</span></li>
      <li>{{fa-icon 'list-ul' fixedWidth=true}} <span class="name">list-ul</span></li>
      <li>{{fa-icon 'location-arrow' fixedWidth=true}} <span class="name">location-arrow</span></li>
      <li>{{fa-icon 'lock' fixedWidth=true}} <span class="name">lock</span></li>
      <li>{{fa-icon 'long-arrow-down' fixedWidth=true}} <span class="name">long-arrow-down</span></li>
      <li>{{fa-icon 'long-arrow-left' fixedWidth=true}} <span class="name">long-arrow-left</span></li>
      <li>{{fa-icon 'long-arrow-right' fixedWidth=true}} <span class="name">long-arrow-right</span></li>
      <li>{{fa-icon 'long-arrow-up' fixedWidth=true}} <span class="name">long-arrow-up</span></li>
      <li>{{fa-icon 'magic' fixedWidth=true}} <span class="name">magic</span></li>
      <li>{{fa-icon 'magnet' fixedWidth=true}} <span class="name">magnet</span></li>
      <li>{{fa-icon 'mail-forward' fixedWidth=true}} <span class="name">mail-forward</span></li>
      <li>{{fa-icon 'mail-reply' fixedWidth=true}} <span class="name">mail-reply</span></li>
      <li>{{fa-icon 'mail-reply-all' fixedWidth=true}} <span class="name">mail-reply-all</span></li>
      <li>{{fa-icon 'male' fixedWidth=true}} <span class="name">male</span></li>
      <li>{{fa-icon 'map-marker' fixedWidth=true}} <span class="name">map-marker</span></li>
      <li>{{fa-icon 'mars' fixedWidth=true}} <span class="name">mars</span></li>
      <li>{{fa-icon 'mars-double' fixedWidth=true}} <span class="name">mars-double</span></li>
      <li>{{fa-icon 'mars-stroke' fixedWidth=true}} <span class="name">mars-stroke</span></li>
      <li>{{fa-icon 'mars-stroke-h' fixedWidth=true}} <span class="name">mars-stroke-h</span></li>
      <li>{{fa-icon 'mars-stroke-v' fixedWidth=true}} <span class="name">mars-stroke-v</span></li>
      <li>{{fa-icon 'maxcdn' fixedWidth=true}} <span class="name">maxcdn</span></li>
      <li>{{fa-icon 'meanpath' fixedWidth=true}} <span class="name">meanpath</span></li>
      <li>{{fa-icon 'medium' fixedWidth=true}} <span class="name">medium</span></li>
      <li>{{fa-icon 'medkit' fixedWidth=true}} <span class="name">medkit</span></li>
      <li>{{fa-icon 'meh-o' fixedWidth=true}} <span class="name">meh-o</span></li>
      <li>{{fa-icon 'mercury' fixedWidth=true}} <span class="name">mercury</span></li>
      <li>{{fa-icon 'microphone' fixedWidth=true}} <span class="name">microphone</span></li>
      <li>{{fa-icon 'microphone-slash' fixedWidth=true}} <span class="name">microphone-slash</span></li>
      <li>{{fa-icon 'minus' fixedWidth=true}} <span class="name">minus</span></li>
      <li>{{fa-icon 'minus-circle' fixedWidth=true}} <span class="name">minus-circle</span></li>
      <li>{{fa-icon 'minus-square' fixedWidth=true}} <span class="name">minus-square</span></li>
      <li>{{fa-icon 'minus-square-o' fixedWidth=true}} <span class="name">minus-square-o</span></li>
      <li>{{fa-icon 'mobile' fixedWidth=true}} <span class="name">mobile</span></li>
      <li>{{fa-icon 'mobile-phone' fixedWidth=true}} <span class="name">mobile-phone</span></li>
      <li>{{fa-icon 'money' fixedWidth=true}} <span class="name">money</span></li>
      <li>{{fa-icon 'moon-o' fixedWidth=true}} <span class="name">moon-o</span></li>
      <li>{{fa-icon 'mortar-board' fixedWidth=true}} <span class="name">mortar-board</span></li>
      <li>{{fa-icon 'motorcycle' fixedWidth=true}} <span class="name">motorcycle</span></li>
      <li>{{fa-icon 'music' fixedWidth=true}} <span class="name">music</span></li>
      <li>{{fa-icon 'navicon' fixedWidth=true}} <span class="name">navicon</span></li>
      <li>{{fa-icon 'neuter' fixedWidth=true}} <span class="name">neuter</span></li>
      <li>{{fa-icon 'newspaper-o' fixedWidth=true}} <span class="name">newspaper-o</span></li>
      <li>{{fa-icon 'openid' fixedWidth=true}} <span class="name">openid</span></li>
      <li>{{fa-icon 'outdent' fixedWidth=true}} <span class="name">outdent</span></li>
      <li>{{fa-icon 'pagelines' fixedWidth=true}} <span class="name">pagelines</span></li>
      <li>{{fa-icon 'paint-brush' fixedWidth=true}} <span class="name">paint-brush</span></li>
      <li>{{fa-icon 'paper-plane' fixedWidth=true}} <span class="name">paper-plane</span></li>
      <li>{{fa-icon 'paper-plane-o' fixedWidth=true}} <span class="name">paper-plane-o</span></li>
      <li>{{fa-icon 'paperclip' fixedWidth=true}} <span class="name">paperclip</span></li>
      <li>{{fa-icon 'paragraph' fixedWidth=true}} <span class="name">paragraph</span></li>
      <li>{{fa-icon 'paste' fixedWidth=true}} <span class="name">paste</span></li>
      <li>{{fa-icon 'pause' fixedWidth=true}} <span class="name">pause</span></li>
      <li>{{fa-icon 'paw' fixedWidth=true}} <span class="name">paw</span></li>
      <li>{{fa-icon 'paypal' fixedWidth=true}} <span class="name">paypal</span></li>
      <li>{{fa-icon 'pencil' fixedWidth=true}} <span class="name">pencil</span></li>
      <li>{{fa-icon 'pencil-square' fixedWidth=true}} <span class="name">pencil-square</span></li>
      <li>{{fa-icon 'pencil-square-o' fixedWidth=true}} <span class="name">pencil-square-o</span></li>
      <li>{{fa-icon 'phone' fixedWidth=true}} <span class="name">phone</span></li>
      <li>{{fa-icon 'phone-square' fixedWidth=true}} <span class="name">phone-square</span></li>
      <li>{{fa-icon 'photo' fixedWidth=true}} <span class="name">photo</span></li>
      <li>{{fa-icon 'picture-o' fixedWidth=true}} <span class="name">picture-o</span></li>
      <li>{{fa-icon 'pie-chart' fixedWidth=true}} <span class="name">pie-chart</span></li>
      <li>{{fa-icon 'pied-piper' fixedWidth=true}} <span class="name">pied-piper</span></li>
      <li>{{fa-icon 'pied-piper-alt' fixedWidth=true}} <span class="name">pied-piper-alt</span></li>
      <li>{{fa-icon 'pinterest' fixedWidth=true}} <span class="name">pinterest</span></li>
      <li>{{fa-icon 'pinterest-p' fixedWidth=true}} <span class="name">pinterest-p</span></li>
      <li>{{fa-icon 'pinterest-square' fixedWidth=true}} <span class="name">pinterest-square</span></li>
      <li>{{fa-icon 'plane' fixedWidth=true}} <span class="name">plane</span></li>
      <li>{{fa-icon 'play' fixedWidth=true}} <span class="name">play</span></li>
      <li>{{fa-icon 'play-circle' fixedWidth=true}} <span class="name">play-circle</span></li>
      <li>{{fa-icon 'play-circle-o' fixedWidth=true}} <span class="name">play-circle-o</span></li>
      <li>{{fa-icon 'plug' fixedWidth=true}} <span class="name">plug</span></li>
      <li>{{fa-icon 'plus' fixedWidth=true}} <span class="name">plus</span></li>
      <li>{{fa-icon 'plus-circle' fixedWidth=true}} <span class="name">plus-circle</span></li>
      <li>{{fa-icon 'plus-square' fixedWidth=true}} <span class="name">plus-square</span></li>
      <li>{{fa-icon 'plus-square-o' fixedWidth=true}} <span class="name">plus-square-o</span></li>
      <li>{{fa-icon 'power-off' fixedWidth=true}} <span class="name">power-off</span></li>
      <li>{{fa-icon 'print' fixedWidth=true}} <span class="name">print</span></li>
      <li>{{fa-icon 'puzzle-piece' fixedWidth=true}} <span class="name">puzzle-piece</span></li>
      <li>{{fa-icon 'qq' fixedWidth=true}} <span class="name">qq</span></li>
      <li>{{fa-icon 'qrcode' fixedWidth=true}} <span class="name">qrcode</span></li>
      <li>{{fa-icon 'question' fixedWidth=true}} <span class="name">question</span></li>
      <li>{{fa-icon 'question-circle' fixedWidth=true}} <span class="name">question-circle</span></li>
      <li>{{fa-icon 'quote-left' fixedWidth=true}} <span class="name">quote-left</span></li>
      <li>{{fa-icon 'quote-right' fixedWidth=true}} <span class="name">quote-right</span></li>
      <li>{{fa-icon 'ra' fixedWidth=true}} <span class="name">ra</span></li>
      <li>{{fa-icon 'random' fixedWidth=true}} <span class="name">random</span></li>
      <li>{{fa-icon 'rebel' fixedWidth=true}} <span class="name">rebel</span></li>
      <li>{{fa-icon 'recycle' fixedWidth=true}} <span class="name">recycle</span></li>
      <li>{{fa-icon 'reddit' fixedWidth=true}} <span class="name">reddit</span></li>
      <li>{{fa-icon 'reddit-square' fixedWidth=true}} <span class="name">reddit-square</span></li>
      <li>{{fa-icon 'refresh' fixedWidth=true}} <span class="name">refresh</span></li>
      <li>{{fa-icon 'remove' fixedWidth=true}} <span class="name">remove</span></li>
      <li>{{fa-icon 'renren' fixedWidth=true}} <span class="name">renren</span></li>
      <li>{{fa-icon 'reorder' fixedWidth=true}} <span class="name">reorder</span></li>
      <li>{{fa-icon 'repeat' fixedWidth=true}} <span class="name">repeat</span></li>
      <li>{{fa-icon 'reply' fixedWidth=true}} <span class="name">reply</span></li>
      <li>{{fa-icon 'reply-all' fixedWidth=true}} <span class="name">reply-all</span></li>
      <li>{{fa-icon 'retweet' fixedWidth=true}} <span class="name">retweet</span></li>
      <li>{{fa-icon 'rmb' fixedWidth=true}} <span class="name">rmb</span></li>
      <li>{{fa-icon 'road' fixedWidth=true}} <span class="name">road</span></li>
      <li>{{fa-icon 'rocket' fixedWidth=true}} <span class="name">rocket</span></li>
      <li>{{fa-icon 'rotate-left' fixedWidth=true}} <span class="name">rotate-left</span></li>
      <li>{{fa-icon 'rotate-right' fixedWidth=true}} <span class="name">rotate-right</span></li>
      <li>{{fa-icon 'rouble' fixedWidth=true}} <span class="name">rouble</span></li>
      <li>{{fa-icon 'rss' fixedWidth=true}} <span class="name">rss</span></li>
      <li>{{fa-icon 'rss-square' fixedWidth=true}} <span class="name">rss-square</span></li>
      <li>{{fa-icon 'rub' fixedWidth=true}} <span class="name">rub</span></li>
      <li>{{fa-icon 'ruble' fixedWidth=true}} <span class="name">ruble</span></li>
      <li>{{fa-icon 'rupee' fixedWidth=true}} <span class="name">rupee</span></li>
      <li>{{fa-icon 'save' fixedWidth=true}} <span class="name">save</span></li>
      <li>{{fa-icon 'scissors' fixedWidth=true}} <span class="name">scissors</span></li>
      <li>{{fa-icon 'search' fixedWidth=true}} <span class="name">search</span></li>
      <li>{{fa-icon 'search-minus' fixedWidth=true}} <span class="name">search-minus</span></li>
      <li>{{fa-icon 'search-plus' fixedWidth=true}} <span class="name">search-plus</span></li>
      <li>{{fa-icon 'sellsy' fixedWidth=true}} <span class="name">sellsy</span></li>
      <li>{{fa-icon 'send' fixedWidth=true}} <span class="name">send</span></li>
      <li>{{fa-icon 'send-o' fixedWidth=true}} <span class="name">send-o</span></li>
      <li>{{fa-icon 'server' fixedWidth=true}} <span class="name">server</span></li>
      <li>{{fa-icon 'share' fixedWidth=true}} <span class="name">share</span></li>
      <li>{{fa-icon 'share-alt' fixedWidth=true}} <span class="name">share-alt</span></li>
      <li>{{fa-icon 'share-alt-square' fixedWidth=true}} <span class="name">share-alt-square</span></li>
      <li>{{fa-icon 'share-square' fixedWidth=true}} <span class="name">share-square</span></li>
      <li>{{fa-icon 'share-square-o' fixedWidth=true}} <span class="name">share-square-o</span></li>
      <li>{{fa-icon 'shekel' fixedWidth=true}} <span class="name">shekel</span></li>
      <li>{{fa-icon 'sheqel' fixedWidth=true}} <span class="name">sheqel</span></li>
      <li>{{fa-icon 'shield' fixedWidth=true}} <span class="name">shield</span></li>
      <li>{{fa-icon 'ship' fixedWidth=true}} <span class="name">ship</span></li>
      <li>{{fa-icon 'shirtsinbulk' fixedWidth=true}} <span class="name">shirtsinbulk</span></li>
      <li>{{fa-icon 'shopping-cart' fixedWidth=true}} <span class="name">shopping-cart</span></li>
      <li>{{fa-icon 'sign-in' fixedWidth=true}} <span class="name">sign-in</span></li>
      <li>{{fa-icon 'sign-out' fixedWidth=true}} <span class="name">sign-out</span></li>
      <li>{{fa-icon 'signal' fixedWidth=true}} <span class="name">signal</span></li>
      <li>{{fa-icon 'simplybuilt' fixedWidth=true}} <span class="name">simplybuilt</span></li>
      <li>{{fa-icon 'sitemap' fixedWidth=true}} <span class="name">sitemap</span></li>
      <li>{{fa-icon 'skyatlas' fixedWidth=true}} <span class="name">skyatlas</span></li>
      <li>{{fa-icon 'skype' fixedWidth=true}} <span class="name">skype</span></li>
      <li>{{fa-icon 'slack' fixedWidth=true}} <span class="name">slack</span></li>
      <li>{{fa-icon 'sliders' fixedWidth=true}} <span class="name">sliders</span></li>
      <li>{{fa-icon 'slideshare' fixedWidth=true}} <span class="name">slideshare</span></li>
      <li>{{fa-icon 'smile-o' fixedWidth=true}} <span class="name">smile-o</span></li>
      <li>{{fa-icon 'soccer-ball-o' fixedWidth=true}} <span class="name">soccer-ball-o</span></li>
      <li>{{fa-icon 'sort' fixedWidth=true}} <span class="name">sort</span></li>
      <li>{{fa-icon 'sort-alpha-asc' fixedWidth=true}} <span class="name">sort-alpha-asc</span></li>
      <li>{{fa-icon 'sort-alpha-desc' fixedWidth=true}} <span class="name">sort-alpha-desc</span></li>
      <li>{{fa-icon 'sort-amount-asc' fixedWidth=true}} <span class="name">sort-amount-asc</span></li>
      <li>{{fa-icon 'sort-amount-desc' fixedWidth=true}} <span class="name">sort-amount-desc</span></li>
      <li>{{fa-icon 'sort-asc' fixedWidth=true}} <span class="name">sort-asc</span></li>
      <li>{{fa-icon 'sort-desc' fixedWidth=true}} <span class="name">sort-desc</span></li>
      <li>{{fa-icon 'sort-down' fixedWidth=true}} <span class="name">sort-down</span></li>
      <li>{{fa-icon 'sort-numeric-asc' fixedWidth=true}} <span class="name">sort-numeric-asc</span></li>
      <li>{{fa-icon 'sort-numeric-desc' fixedWidth=true}} <span class="name">sort-numeric-desc</span></li>
      <li>{{fa-icon 'sort-up' fixedWidth=true}} <span class="name">sort-up</span></li>
      <li>{{fa-icon 'soundcloud' fixedWidth=true}} <span class="name">soundcloud</span></li>
      <li>{{fa-icon 'space-shuttle' fixedWidth=true}} <span class="name">space-shuttle</span></li>
      <li>{{fa-icon 'spinner' fixedWidth=true}} <span class="name">spinner</span></li>
      <li>{{fa-icon 'spoon' fixedWidth=true}} <span class="name">spoon</span></li>
      <li>{{fa-icon 'spotify' fixedWidth=true}} <span class="name">spotify</span></li>
      <li>{{fa-icon 'square' fixedWidth=true}} <span class="name">square</span></li>
      <li>{{fa-icon 'square-o' fixedWidth=true}} <span class="name">square-o</span></li>
      <li>{{fa-icon 'stack-exchange' fixedWidth=true}} <span class="name">stack-exchange</span></li>
      <li>{{fa-icon 'stack-overflow' fixedWidth=true}} <span class="name">stack-overflow</span></li>
      <li>{{fa-icon 'star' fixedWidth=true}} <span class="name">star</span></li>
      <li>{{fa-icon 'star-half' fixedWidth=true}} <span class="name">star-half</span></li>
      <li>{{fa-icon 'star-half-empty' fixedWidth=true}} <span class="name">star-half-empty</span></li>
      <li>{{fa-icon 'star-half-full' fixedWidth=true}} <span class="name">star-half-full</span></li>
      <li>{{fa-icon 'star-half-o' fixedWidth=true}} <span class="name">star-half-o</span></li>
      <li>{{fa-icon 'star-o' fixedWidth=true}} <span class="name">star-o</span></li>
      <li>{{fa-icon 'steam' fixedWidth=true}} <span class="name">steam</span></li>
      <li>{{fa-icon 'steam-square' fixedWidth=true}} <span class="name">steam-square</span></li>
      <li>{{fa-icon 'step-backward' fixedWidth=true}} <span class="name">step-backward</span></li>
      <li>{{fa-icon 'step-forward' fixedWidth=true}} <span class="name">step-forward</span></li>
      <li>{{fa-icon 'stethoscope' fixedWidth=true}} <span class="name">stethoscope</span></li>
      <li>{{fa-icon 'stop' fixedWidth=true}} <span class="name">stop</span></li>
      <li>{{fa-icon 'street-view' fixedWidth=true}} <span class="name">street-view</span></li>
      <li>{{fa-icon 'strikethrough' fixedWidth=true}} <span class="name">strikethrough</span></li>
      <li>{{fa-icon 'stumbleupon' fixedWidth=true}} <span class="name">stumbleupon</span></li>
      <li>{{fa-icon 'stumbleupon-circle' fixedWidth=true}} <span class="name">stumbleupon-circle</span></li>
      <li>{{fa-icon 'subscript' fixedWidth=true}} <span class="name">subscript</span></li>
      <li>{{fa-icon 'subway' fixedWidth=true}} <span class="name">subway</span></li>
      <li>{{fa-icon 'suitcase' fixedWidth=true}} <span class="name">suitcase</span></li>
      <li>{{fa-icon 'sun-o' fixedWidth=true}} <span class="name">sun-o</span></li>
      <li>{{fa-icon 'superscript' fixedWidth=true}} <span class="name">superscript</span></li>
      <li>{{fa-icon 'support' fixedWidth=true}} <span class="name">support</span></li>
      <li>{{fa-icon 'table' fixedWidth=true}} <span class="name">table</span></li>
      <li>{{fa-icon 'tablet' fixedWidth=true}} <span class="name">tablet</span></li>
      <li>{{fa-icon 'tachometer' fixedWidth=true}} <span class="name">tachometer</span></li>
      <li>{{fa-icon 'tag' fixedWidth=true}} <span class="name">tag</span></li>
      <li>{{fa-icon 'tags' fixedWidth=true}} <span class="name">tags</span></li>
      <li>{{fa-icon 'tasks' fixedWidth=true}} <span class="name">tasks</span></li>
      <li>{{fa-icon 'taxi' fixedWidth=true}} <span class="name">taxi</span></li>
      <li>{{fa-icon 'tencent-weibo' fixedWidth=true}} <span class="name">tencent-weibo</span></li>
      <li>{{fa-icon 'terminal' fixedWidth=true}} <span class="name">terminal</span></li>
      <li>{{fa-icon 'text-height' fixedWidth=true}} <span class="name">text-height</span></li>
      <li>{{fa-icon 'text-width' fixedWidth=true}} <span class="name">text-width</span></li>
      <li>{{fa-icon 'th' fixedWidth=true}} <span class="name">th</span></li>
      <li>{{fa-icon 'th-large' fixedWidth=true}} <span class="name">th-large</span></li>
      <li>{{fa-icon 'th-list' fixedWidth=true}} <span class="name">th-list</span></li>
      <li>{{fa-icon 'thumb-tack' fixedWidth=true}} <span class="name">thumb-tack</span></li>
      <li>{{fa-icon 'thumbs-down' fixedWidth=true}} <span class="name">thumbs-down</span></li>
      <li>{{fa-icon 'thumbs-o-down' fixedWidth=true}} <span class="name">thumbs-o-down</span></li>
      <li>{{fa-icon 'thumbs-o-up' fixedWidth=true}} <span class="name">thumbs-o-up</span></li>
      <li>{{fa-icon 'thumbs-up' fixedWidth=true}} <span class="name">thumbs-up</span></li>
      <li>{{fa-icon 'ticket' fixedWidth=true}} <span class="name">ticket</span></li>
      <li>{{fa-icon 'times' fixedWidth=true}} <span class="name">times</span></li>
      <li>{{fa-icon 'times-circle' fixedWidth=true}} <span class="name">times-circle</span></li>
      <li>{{fa-icon 'times-circle-o' fixedWidth=true}} <span class="name">times-circle-o</span></li>
      <li>{{fa-icon 'tint' fixedWidth=true}} <span class="name">tint</span></li>
      <li>{{fa-icon 'toggle-down' fixedWidth=true}} <span class="name">toggle-down</span></li>
      <li>{{fa-icon 'toggle-left' fixedWidth=true}} <span class="name">toggle-left</span></li>
      <li>{{fa-icon 'toggle-off' fixedWidth=true}} <span class="name">toggle-off</span></li>
      <li>{{fa-icon 'toggle-on' fixedWidth=true}} <span class="name">toggle-on</span></li>
      <li>{{fa-icon 'toggle-right' fixedWidth=true}} <span class="name">toggle-right</span></li>
      <li>{{fa-icon 'toggle-up' fixedWidth=true}} <span class="name">toggle-up</span></li>
      <li>{{fa-icon 'train' fixedWidth=true}} <span class="name">train</span></li>
      <li>{{fa-icon 'transgender' fixedWidth=true}} <span class="name">transgender</span></li>
      <li>{{fa-icon 'transgender-alt' fixedWidth=true}} <span class="name">transgender-alt</span></li>
      <li>{{fa-icon 'trash' fixedWidth=true}} <span class="name">trash</span></li>
      <li>{{fa-icon 'trash-o' fixedWidth=true}} <span class="name">trash-o</span></li>
      <li>{{fa-icon 'tree' fixedWidth=true}} <span class="name">tree</span></li>
      <li>{{fa-icon 'trello' fixedWidth=true}} <span class="name">trello</span></li>
      <li>{{fa-icon 'trophy' fixedWidth=true}} <span class="name">trophy</span></li>
      <li>{{fa-icon 'truck' fixedWidth=true}} <span class="name">truck</span></li>
      <li>{{fa-icon 'try' fixedWidth=true}} <span class="name">try</span></li>
      <li>{{fa-icon 'tty' fixedWidth=true}} <span class="name">tty</span></li>
      <li>{{fa-icon 'tumblr' fixedWidth=true}} <span class="name">tumblr</span></li>
      <li>{{fa-icon 'tumblr-square' fixedWidth=true}} <span class="name">tumblr-square</span></li>
      <li>{{fa-icon 'turkish-lira' fixedWidth=true}} <span class="name">turkish-lira</span></li>
      <li>{{fa-icon 'twitch' fixedWidth=true}} <span class="name">twitch</span></li>
      <li>{{fa-icon 'twitter' fixedWidth=true}} <span class="name">twitter</span></li>
      <li>{{fa-icon 'twitter-square' fixedWidth=true}} <span class="name">twitter-square</span></li>
      <li>{{fa-icon 'umbrella' fixedWidth=true}} <span class="name">umbrella</span></li>
      <li>{{fa-icon 'underline' fixedWidth=true}} <span class="name">underline</span></li>
      <li>{{fa-icon 'undo' fixedWidth=true}} <span class="name">undo</span></li>
      <li>{{fa-icon 'university' fixedWidth=true}} <span class="name">university</span></li>
      <li>{{fa-icon 'unlink' fixedWidth=true}} <span class="name">unlink</span></li>
      <li>{{fa-icon 'unlock' fixedWidth=true}} <span class="name">unlock</span></li>
      <li>{{fa-icon 'unlock-alt' fixedWidth=true}} <span class="name">unlock-alt</span></li>
      <li>{{fa-icon 'unsorted' fixedWidth=true}} <span class="name">unsorted</span></li>
      <li>{{fa-icon 'upload' fixedWidth=true}} <span class="name">upload</span></li>
      <li>{{fa-icon 'usd' fixedWidth=true}} <span class="name">usd</span></li>
      <li>{{fa-icon 'user' fixedWidth=true}} <span class="name">user</span></li>
      <li>{{fa-icon 'user-md' fixedWidth=true}} <span class="name">user-md</span></li>
      <li>{{fa-icon 'user-plus' fixedWidth=true}} <span class="name">user-plus</span></li>
      <li>{{fa-icon 'user-secret' fixedWidth=true}} <span class="name">user-secret</span></li>
      <li>{{fa-icon 'user-times' fixedWidth=true}} <span class="name">user-times</span></li>
      <li>{{fa-icon 'users' fixedWidth=true}} <span class="name">users</span></li>
      <li>{{fa-icon 'venus' fixedWidth=true}} <span class="name">venus</span></li>
      <li>{{fa-icon 'venus-double' fixedWidth=true}} <span class="name">venus-double</span></li>
      <li>{{fa-icon 'venus-mars' fixedWidth=true}} <span class="name">venus-mars</span></li>
      <li>{{fa-icon 'viacoin' fixedWidth=true}} <span class="name">viacoin</span></li>
      <li>{{fa-icon 'video-camera' fixedWidth=true}} <span class="name">video-camera</span></li>
      <li>{{fa-icon 'vimeo-square' fixedWidth=true}} <span class="name">vimeo-square</span></li>
      <li>{{fa-icon 'vine' fixedWidth=true}} <span class="name">vine</span></li>
      <li>{{fa-icon 'vk' fixedWidth=true}} <span class="name">vk</span></li>
      <li>{{fa-icon 'volume-down' fixedWidth=true}} <span class="name">volume-down</span></li>
      <li>{{fa-icon 'volume-off' fixedWidth=true}} <span class="name">volume-off</span></li>
      <li>{{fa-icon 'volume-up' fixedWidth=true}} <span class="name">volume-up</span></li>
      <li>{{fa-icon 'warning' fixedWidth=true}} <span class="name">warning</span></li>
      <li>{{fa-icon 'wechat' fixedWidth=true}} <span class="name">wechat</span></li>
      <li>{{fa-icon 'weibo' fixedWidth=true}} <span class="name">weibo</span></li>
      <li>{{fa-icon 'weixin' fixedWidth=true}} <span class="name">weixin</span></li>
      <li>{{fa-icon 'whatsapp' fixedWidth=true}} <span class="name">whatsapp</span></li>
      <li>{{fa-icon 'wheelchair' fixedWidth=true}} <span class="name">wheelchair</span></li>
      <li>{{fa-icon 'wifi' fixedWidth=true}} <span class="name">wifi</span></li>
      <li>{{fa-icon 'windows' fixedWidth=true}} <span class="name">windows</span></li>
      <li>{{fa-icon 'won' fixedWidth=true}} <span class="name">won</span></li>
      <li>{{fa-icon 'wordpress' fixedWidth=true}} <span class="name">wordpress</span></li>
      <li>{{fa-icon 'wrench' fixedWidth=true}} <span class="name">wrench</span></li>
      <li>{{fa-icon 'xing' fixedWidth=true}} <span class="name">xing</span></li>
      <li>{{fa-icon 'xing-square' fixedWidth=true}} <span class="name">xing-square</span></li>
      <li>{{fa-icon 'yahoo' fixedWidth=true}} <span class="name">yahoo</span></li>
      <li>{{fa-icon 'yelp' fixedWidth=true}} <span class="name">yelp</span></li>
      <li>{{fa-icon 'yen' fixedWidth=true}} <span class="name">yen</span></li>
      <li>{{fa-icon 'youtube' fixedWidth=true}} <span class="name">youtube</span></li>
      <li>{{fa-icon 'youtube-play' fixedWidth=true}} <span class="name">youtube-play</span></li>
      <li>{{fa-icon 'youtube-square' fixedWidth=true}} <span class="name">youtube-square</span></li>
    </ul>
  </div>
</div>
